body {
    max-width: 500px;
    padding: 10px;
    height: 100vh;
    text-align: center;
    margin: auto;
}

span {
    display: inline-block;
}

#content {
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 30px;/*←footerの高さ*/
    box-sizing: border-box;←全て含めてmin-height:100vhに
}

#title {
    width: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 11px;
    background: #f17b75;
    box-shadow:  5px 5px 7px #851e1a;
}

#title {
    display        : inline-block;
    color          : #f8ebea;            /* 文字の色 */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         2px  2px 1px #ea352d,
        -2px  2px 1px #ea352d,
         2px -2px 1px #ea352d,
        -2px -2px 1px #ea352d,
         2px  0px 1px #ea352d,
         0px  2px 1px #ea352d,
        -2px  0px 1px #ea352d,
         0px -2px 1px #ea352d;        /* 文字の影 */
}

#inputForm {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    background: #f7dddc;
    box-shadow:  5px 5px 15px #d5b8b7;
}

#weight {
    margin: auto;
}

input#weight, input#width, input#depth, input#height {
    width: 5rem;
}

#sizeInputWrap {
    width: fit-content;
    margin: auto;
}

#inputForm .size {
    margin-top: 20px;
}

#inputForm .size .element {
    margin: 5px;
}

#inputForm button{
    margin-top: 20px;
}

label {
    display: block;
}
  
label.required:after {
    margin-left: 1.0em;
    padding: 0px 6px 0px 6px;
    border-radius: 4px;
    font-size: 0.6em;
    color: white;
    background-color: #C44;
    content: "必須";
}

#resultList {
    padding-inline-start: 2em;
    text-align: start;
}

#resultList .btn {
    width: 100%;
}

#resultList .element {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background: #ecd982;
    box-shadow:  5px 5px 15px #d5b8b7;
    text-align: left;
    padding: 0.5rem;
    position: relative;
}

#resultList .caption {
    text-align: center;
    width: 100%;
}

#resultList .table {
    margin: 0;
}

#resultList .dropdown-menu {
    padding: 0;
}

footer {
    padding: 15px 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0; /*下に固定*/
}

footer , footer a {
    color: lightgray;
    font-style: italic;
}

footer a {
    text-decoration: underline;
}
